*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.main__header {
    height: 304px;
}
.header {
    width: 100%;
    height: 56px;
    background: #333;
}

.header__conteiner {
    margin: 0 auto;
    padding: 0 30px 0 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__flex{
    display: flex;
}
.logoImg {
    height: 25px;
    width: 76px;
    margin-top: 13px;
    color: #999;
    background: #999;
}

.logo__link {
    color: #999;
}


.navigation {
    display: flex;
}

.nav__list {
    padding: 0 12px;
    line-height: 56px;
}

.nav__link {
    font-size: 14px;
    display: block;
    height: 56px;
    color: #999;
}

.nav__link:hover{
    color: #fff;
    text-decoration: none;
}

.nav__white{
    padding-left: 25px;
}

.nav__white__link {
    color: #fff;
}


.nav__dots {
    font-weight: bold;
    font-size: 3em;
    line-height: 34px;
}

.search__side {
    display: flex;
    line-height: 56px
}

.search__icon {
    margin-top: 20px;
    margin-right: -17px;
    color: #999;
    z-index: 10;

}

.search-text {
    width: 225px;
    height: 25px;
    padding: 5px 5px 5px 25px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #bbb;
    border: none;
    border-radius: 5px;
    background-color: #fff;

    margin-top: 15px;

}

.nav__last__item {
    margin-right: 20px;
}

.site__about {
    width: 100%;
    height: 140px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background: #252525;
}



.site__about__para {
    color: #bbb;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
}

.motivate__para {
    color: #fff;
    font-weight: 500;
}

.site__about__btn {
    background-color: #df3e7b;
    padding: 10px 30px;
    color: #fff;
    height: 37px;
    width: 135px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}


.site__about__btn:hover, .site__footer__btn:hover{
    color: rgba(255,255,255,0.85);
    background: #ea4c89;
}

.heaer__contact {
    width: 100%;
    height: 58px;
    margin: 0 auto;
    text-align: center;
    background: #333;
    color: #bbb;
    font-size: 15px;
    padding: 20px 30px;
}

.heaer__contact__link {
    color: #fff;
    text-decoration: underline;
    margin-left: 5px;
}

.heaer__contact__link:hover {
    color: #bbb;
}

.header__type {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(255,255,255,0.6);
    margin: 0 auto;
    text-align: center;
    color: #bbb;
    font-size: 15px;
    padding: 0 30px;
    display: flex;
    justify-content: center
}

.header__type__box {
    margin: 0 20px 0 0;
    font-weight: 500;
}

.header__type__link {
    padding-right: 15px;
    font-weight: 500;
    color: #444;
    line-height: 50px;
}

.header__type__link:hover {
    text-decoration: none;
}


.main {
    padding: 30px 30px 40px 30px;
    width: 100%;
    background: #f4f4f4;
}








.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background: #f4f4f4;
    padding-bottom: 40px;
    justify-content: center;
}

.box {
    position: relative;
    
    width: 220px;
    height: 218px;
    margin: 10px;
    
}

.WhiteBox {
    width: 100%;
    height: 198px;
    background: #fff;
}
.imgBox {
    position: relative;
    overflow: hidden;
}

.box__img {
    padding: 10px;
    width: 100%;
}

.details {
    top: 10px;
    left: 10px ;
    right: 10px ;
    bottom: 58px; 
    position: absolute;
    padding: 4px 5px;
    line-height: 2;
    text-decoration: none;
    color: #888;
    background: rgba(255,255,255,0.96);
    
}

.box__img__link {
    display: none;
}

.box:hover  .box__img__link {
    display:block;
}

.content {
    position: absolute;
    
    width: 100%;
    height: 100%;
    padding: 3px;
}


.box__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #444;
}

.box__para {
    
    font-size: 11px;
    line-height: 1.4;
    color: #777;
}

.box__time {
    font-size: 13px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}




.imgInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    padding: 0 10px;

}



.attachment, .imgInfo__link {
    color: #aaa;
}

.imgInfo__link:hover {
    color: rgb(112, 112, 112);
    text-decoration: none;

}

.imgInfo__left {
    display: flex;
    flex-direction: row;
    margin: 0 3px;
}
.img__logo {
    color: #aaa;
    font-size: 14px;
}

.space {
    padding: 0 8px;
}


.user {
    margin: 0 8px;
}

.user__image {
    float: left;
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;
    border-radius: 50%;
}

.user__name {
    color: #3a8bbb;
    font-weight: bold; 
}

.user__name:hover {
    text-decoration: none;
}






.footer__sign {
    width: 100%;
    height: 94px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.footer__centre {
    width: 100%;
    margin: 0 auto;
    padding: 15px 12px;
    font-size: 14px;
    text-align: center;
    
}


.site__footer__btn {
    background-color: #df3e7b;
    padding: 10px 30px;
    color: #fff;
    height: 47px;
    width: 400px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;

}

.footer__sign__link{
    margin: 0 auto;
    padding: 15px 12px;
    font-size: 14px;
    
    
}

.footer__sign__link:hover {
    text-decoration: underline;
}








.footer {
    width: 100%;
    height: 318px;
    border-top: 1px solid #e5e5e5;
    background: white;
    z-index: 2;
}

.footer__conteiner {
    margin: 0 auto;
    padding: 30px 30px 20px 30px;
    font-size: 13px;
    color: #999;
}

.footer__about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 217px;
    
}


.footer__question{
    width: 24%;
}




.footer__visitors {
    width: 26%;
    margin: 0 0 20px 0;

}

.footer__logo {
    height: 54px;
    width: 56px;
    margin-top: 20px;
    float: left;

}

.footer__visitors__header {
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 1.4;
    color: #777;
    float: left;
}

.footer__visitors__number {
    display: block;
    padding-top: 4px;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
    color: #333;
}














.footer__para {
    margin: 0 50px 10px 0;
    line-height: 1.6;

}

.logo {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    color: #999;
}

.footer__icon__link {
    color: #999;
}

.footer__icon {
    font-size: 24px;
    padding-right: 16px;
    
}

.footer__icon__link:hover {
    color: #444;
}

.footer__follow{
    margin-top: 20px;
}

.footer__contact {
    display: flex;
    width: 50%;

}
.extraLinks {
    width: 34%;
}

.footer__list__header{
    
    color: #999;
    
}

.footer__header__size{
    font-size: 16px!important;
    font-weight: 500;
}
.footer__list__link{
    color: #999;
    font-size: 13px;
    line-height: 1.8;
   

}

.footer__list__link:hover {
    color: #444;
    text-decoration: none;

}

.footer__list {
    display: flex;
    flex-direction: column;
    float: left;
    color: #999;
    font-size: 13px;
    line-height: 1.8;
}
.left {
    
    
    padding-left: 30px;
}

.footer__list__item {

}

.footer__img__link:hover{
    text-decoration: none;
    opacity: 1;
}

.link__image {
    border-radius: 50%;
    width: 32px;
    height: 30px;
    top: 33px;
    float: left;
    margin-top: 8px;

}

.link__name {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #3a8bbb;
    

}

.link__info{
    font-size: 12px;
    color: #999;
    float: left;
    
}

.footer__list__flex {
    display: flex;
    height: 32px;
    flex-wrap: wrap;
    padding-left: 8px;
    height: calc(100% - 40%);
}

.footer__list__flex:hover {
    text-decoration: none;
    opacity: 0.5;

}


.hiringLinks {
    width: 29%;

}

.jobLinks {
    
    width: 37%

}



.program__info {
    width: 100%;
    height: 50px;
    font-size: 1.1em;
    margin-top: 8px;
}


.copyright, .visitors{
    float: left;
    width: 24%;
    margin: 0 0 20px 0;
}

.visitors {
    width: 50%;
}








